.form {
  background-color: #f9f9f9;
  color: #333;
  margin: 15px;
  padding: 20px;
  width: 700px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #555;
}
